<div mat-dialog-title>Verbindung suchen</div>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Abfahrtshaltestelle</mat-label>
    <input matInput placeholder="Kreuzplatz" [formControl]="address" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-raised-button color="primary" (click)="searchConnections()">Suche Verbindung</button>
</mat-dialog-actions>
