<mat-card>
  <mat-card-header>
    <mat-card-title>Verbindung</mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="connection.duration">Zeit: {{connection.duration}}</div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="connection.transfers">Anzahl Umstiege: {{connection.transfers}}</div>
    <br>
    <mat-divider></mat-divider>
    <div *ngFor="let option of sections" class="section">

      <div *ngIf="option.departureStationName">Abfahrt: <b>{{option.departureStationName}}</b></div>
      <div *ngIf="option.departureTime">um <b>{{option.departureTime | date:'shortTime'}}</b></div>
      <div *ngIf="option.departurePlatform">auf Plattform <b>{{option.departurePlatform}}</b></div>
      <br>
      <div *ngIf="option.arrivalStationName">Ankunft <b>{{option.arrivalStationName}}</b></div>
      <div *ngIf="option.arrivalTime">um <b>{{option.arrivalTime | date:'shortTime'}}</b></div>
      <div *ngIf="option.arrivalPlatform">auf Plattform <b>{{option.arrivalPlatform}}</b></div>
      <br>
      <div *ngIf="option.journeyTo">In Richtung: <b>{{option.journeyTo}}</b></div>
      <div *ngIf="option.journeyNumber">Nummer: <b>{{option.journeyNumber}}</b></div>
      <div *ngIf="option.journeyName">Name: <b>{{option.journeyName}}</b></div>
      <br>
      <div *ngIf="option.walk"><b>Lauzeit: {{option.walk}}</b></div>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button mat-raised-button color="primary" (click)="back()">Zurück zur Übersicht</button>
  </mat-card-actions>
</mat-card>
