<div *ngFor="let option of wellnessOption">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{option.name}}</mat-card-title>
      <mat-card-subtitle>{{option.address}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="box" mat-line>
        <img src="{{option.pictureURL}}" class="image">
        <span [innerHTML]="option.text"></span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" (click)="getConnection(option)">Verbindung suchen</button>
    </mat-card-actions>
  </mat-card>
</div>
